<div class="row">
	<div class="col-12">
		<div class="w-100 overflow-auto">
			<table class="table table-striped">
				@if(csvColumns != null) {
					<thead>
						<tr>
							@foreach(var column in csvColumns) {
								<th style="white-space: nowrap;">@column</th>
							}
						</tr>
					</thead>


					@if(csvPages.Count > Page) {
						<tbody>
							@foreach(var record in csvPages.ElementAt(Page)) {
								<tr>
									@foreach(var column in csvColumns) {
										<td 
											style="white-space: nowrap;"
										>
											@(((IDictionary<string, object>)record)[column])
										</td>
									}		
								</tr>
							}
						</tbody>
					}
				}
			</table>
		</div>
	</div>

	<div class="col-12">
		<nav class="mt-2">
			<ul class="pagination">
				@if(csvPages.Count > 0) {
					
					@if(Page != 0) {
						<li class="page-item" @onclick=@(()=>SetPage(Page-1))><div class="page-link">	<span aria-hidden="true">&laquo;</span></div></li>
						<li class="page-item" @onclick=@(()=>SetPage(0))><div class="page-link">1</div></li>
					} else {
						<li class="page-item disabled"><div class="page-link">
							<span aria-hidden="true">&laquo;</span>
						</div></li>
						<li class="page-item disabled"><div class="page-link">..</div></li>
					}


					
					<li class="page-item active"><div class="page-link">@(Page+1)</div></li>
					
					@if(Page != csvPages.Count-1) {
						<li class="page-item" @onclick=@(()=>SetPage(csvPages.Count-1))><div class="page-link">@(csvPages.Count)</div></li>
						<li class="page-item" @onclick=@(()=>SetPage(Page+1))><div class="page-link">
							<span aria-hidden="true">&raquo;</span>
						</div></li>
					} else {
						<li class="page-item disabled"><div class="page-link">..</div></li>
						<li class="page-item disabled"><div class="page-link">
 							<span aria-hidden="true">&raquo;</span>
						</div></li>
					}
				}
			</ul>
		</nav>
	</div>
</div>